<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Inspier - 회원가입</title>

        <th:block th:replace="common/common-tags::common-favicons" />

        <link rel="stylesheet" th:href="@{/css/join.css}" />
        <script defer th:src="@{/js/join.js}" type="module"></script>
    </head>
    <body>
        <div class="header"></div>
        <div class="container">
            <div class="join-box">
                <h2>회원가입</h2>

                <div class="input-group">
                    <div class="input-inner-group">
                        <input class="input-email" id="input-email" placeholder="이메일" required type="text" />
                        <button class="check-button" id="check-email">이메일 확인</button>
                    </div>
                    <p class="info-message" id="send-verification-code-info" hidden>이메일로 인증코드를 전송하였습니다.</p>
                    <p class="error-message" id="input-email-error" hidden>잘못된 이메일 형식입니다.</p>
                    <p class="error-message" id="email-duplication-error" hidden>중복된 이메일이 존재합니다.</p>
                </div>

                <div class="input-group">
                    <div class="input-inner-group">
                        <input class="input-verification-code" id="input-verification-code" placeholder="인증코드" required type="text" />
                        <button class="check-button" id="check-verification-code">확인</button>
                    </div>
                    <p class="error-message" id="verification-code-error" hidden>잘못된 인증코드입니다.</p>
                </div>

                <div class="input-group">
                    <input id="input-password" placeholder="비밀번호" required type="password" />
                    <p class="error-message" id="input-password-error" hidden>잘못된 비밀번호 형식입니다.</p>

                    <input id="input-password-check" placeholder="비밀번호 확인" required type="password" />
                    <p class="error-message" id="input-password-check-error" hidden>비밀번호가 일치하지 않습니다.</p>
                </div>

                <div class="input-group">
                    <div class="input-inner-group">
                        <input class="input-name" id="input-name" placeholder="닉네임" required type="text" />
                        <button class="check-button" id="check-name">닉네임 확인</button>
                    </div>
                    <p class="error-message" id="input-name-error" hidden>잘못된 닉네임 형식입니다.</p>
                    <p class="error-message" id="name-duplication-error" hidden>중복된 닉네임이 존재합니다.</p>
                </div>

                <button class="join-button" id="join-button" type="submit" disabled>등록</button>
            </div>
        </div>

        <div class="footer"></div>
    </body>
</html>
