<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Inspier - 회원가입</title>

    <link rel="icon" href="image/favicon.ico"/>
    <link rel="shorcut icon" href="image/favicon.ico"/>

    <link rel="icon" type="image/png" sizes="180x180" href="image/icon-180x180.png"/>
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="image/icon-180x180.png"/>

    <link rel="icon" type="image/png" sizes="192x192" href="image/icon-192x192.png"/>
    <link rel="apple-touch-ico" type="image/png" sizes="192x192" href="image/icon-192x192.png"/>

    <link rel="icon" type="image/png" sizes="512x512" href="image/icon-512x512.png"/>
    <link rel="apple-touch-icon" type="image/png" sizes="512x512" href="image/icon-512x512.png"/>

    <link rel="stylesheet" th:href="@{/css/join.css}"/>
    <script defer type="module" th:src="@{/js/join.js}"></script>
</head>
<body>
<div class="header"></div>
<div class="container">
    <div class="join-box">
        <h2>회원가입</h2>
        
        <input id="name" placeholder="아이디" required type="text"/>
        <button id="check-name">아이디 확인</button>
        <input id="password" placeholder="비밀번호" required type="password"/>
        <input id="password-again" placeholder="비밀번호 재입력" required type="password"/>
        <button id="join-button" type="submit">등록</button>
    </div>
</div>

<div class="footer"></div>
</body>
</html>
