<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>서비스 로그인</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
    <div class="login-box">
        <h2>로그인</h2>

        <form method="post">
            <input type="text" name="userName" placeholder="아이디" required>
            <input type="password" name="password" placeholder="비밀번호" required>
            <button id="loginButton" type="submit">로그인</button>
        </form>
    </div>
</body>
</html>