@import "common/common.css";

body {
    font-family: Verdana;
    font-size: 30px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.join-box {
    background: white;
    border-radius: 10px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 350px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.join-box h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 30px;
}

.join-box input {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 15px;
    border: 1px solid #ccc;
    padding: 12px;
}

.join-box input:focus {
    outline: none;
    border-color: #333;
    border-width: 1.5px;
}

.join-box input[data-state="default"] {
    border: 1px solid #ccc;
}

.join-box input[data-state="success"] {
    border: 2px solid green;
}

.join-box input[data-state="fail"] {
    border: 2px solid red;
}

.join-box button {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 12px;
    width: 100%;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.25s ease;
}

.join-box button:enabled:hover {
    background-color: #45a049;
}

.join-box button:disabled {
    background-color: gray;
}

.input-group {
    margin-left: 0;
    margin-right: auto;
    width: 100%;
}

.input-inner-group {
    flex-direction: row;
    display: flex;
    gap: 5px;
}

.input-inner-group .check-button {
    width: 150px;
}

.info-message {
    color: green;
    font-size: 13px;
    margin-left: 3px;
    margin-right: auto;
    margin-top: 1px;
    margin-bottom: 10px;
    width: 100%;
    text-align: left;
    display: flex;
}

.error-message {
    color: red;
    font-size: 13px;
    margin-left: 3px;
    margin-right: auto;
    margin-top: 1px;
    margin-bottom: 10px;
    width: 100%;
    text-align: left;
    display: flex;
}
