body {
    font-family: Verdana;
    font-size: 30px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    padding: 50px;
}

.login-box {
    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1);
}

.login-box h2 {
    margin-bottom: 10px;
    color: #333;
    font-size: 30px;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-box button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.login-box button:hover {
    background-color: #45a049;
}

.login-box .login-error-message {
    color: red;
    font-size: 13px;
    margin: 1px;
    display: none;
}

.account-helpers {
    margin: 1px;
    padding: 1px;
    display: flex;
    font-size: 15px;
    margin: 10px;
    gap: 20px;
    align-items: center;
}

.account-helpers a {
    text-decoration: none;
    color: #444;
}

.account-helpers .seperator {
    background-color: #444;
    width: 1px;
    height: 15px;
}
